html, body {
	background-color: #FED1DC;
}

::-webkit-scrollbar { 
    display: none; 
}

.card {
    background-color: white;
}

.card-title {
    font-size: 2rem;
    padding: .5rem;
}

.card-desc {
    padding: .5rem;
    line-height: 1.6em;
    font-family: 'Source Sans Pro', sans-serif;
    margin-bottom: 1rem;
}

.button {
    display: block;
    background-color: black;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    text-align: center;
    transition: .3s ease-out;
}

h3 {
	font-family: 'Abril Fatface', cursive;
	text-align: center;
	font-weight: 100;
	font-size: 2rem;
	margin-bottom: 1rem;
}

.card-thumbnail {
	background-color: #FD8C96;
	height: 16.3125rem;
	margin: 0;
	font-family: 'Abril Fatface', cursive;
	font-size: 9rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

a {
	 font-family: 'Source Sans Pro', sans-serif;
}

.card-container {
	display: grid;
	padding: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 1rem;
}

#two {
	background-color: #FDAAA7;
}

#three {
	background-color: #FED3B8;
}

#four {
	background-color: #DCECC3;
}

#five {
	background-color: #AAE5CF;
}

#six {
	background-color: #BCFEFE;
}

#seven {
	background-color: #BBE1FE;
}

#eight {
	background-color: #BABEFD;
}